body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  background: $baseColor;
}

html{
  font-size: 16px;

  @include media('(min-width : 798px)') {
    font-size: 20px;
  }

  @include media('(min-width : 1280px)') {
    font-size: 25px;
  }
}

img,
embed,
object,
video,
picture {
  max-width: 100%;
}

img, picture{
  display: block;
  height: auto;
  min-height: 1px;
  border-style: none;
}

article,
aside,
footer,
header,
nav,
section,
main{
  display: block;
}

*, :after, :before {
  box-sizing: border-box;
}