.monitor{
  background: rgba(17, 90, 228, 1);
  width: 100%;
  position: fixed;
  height: 100vh;

  &__panel{
    position: absolute;
    z-index: 2;

    &_horizontal{
      left: 50%;
      transform: translateX(-50%);
    }

    &_vertical{
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      height: 80%;

      &_column{
        flex-direction: column;
        justify-content: center;
      }

      &_row{
        align-items: center;
      }
    }

    &_top{
      top: 0;

      img {
        transform: rotate(180deg);
      }
    }

    &_bottom{
      bottom: 0;
    }

    &_left{
      left: 45px;
    }

    &_right{
      right: 45px;
    }

    &-row{
      margin-bottom: 2rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__canvas,
  &__screen{
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
  }

  &__canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__screen {
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;

    &_show{
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__canvas{

  }

  &__target{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 54%;
    max-width: 700px;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;

    &_show{
      opacity: 1;
      pointer-events: auto;

      .svg-target{
        transform: scale(0.5);
      }
    }
  }

  &__information{
    $m_info: &;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-weight: normal;
    font-style: italic;
    transition: opacity .3s;
    pointer-events: auto;

    $eye-height: 37px;
    $eye-width: 59px;
    $eye-vertical-space: 10px;
    $eye-horizontal-space: 10px;
    $eyeball-size: $eye-height - $eye-vertical-space;

    &_hide{
      opacity: 0;
      pointer-events: none;
      #{$m_info}-ico{
        &:after{
          animation: none;
          transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
        }
      }
    }

    @keyframes eyeball-moving {
      0%   {
        transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
      }
      50% {
        transform: translateX($eye-width - $eyeball-size*1.3) translateY($eye-vertical-space/2);
      }
      100% {
        transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
      }
    }

    &-ico{
      width: $eye-width;
      height: $eye-height;
      margin: 0 auto;
      background-image: url('./images/eye.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('./images/eyeball.svg');
        width: $eyeball-size;
        height: $eyeball-size;
        background-repeat: no-repeat;
        background-position: center;
        animation: eyeball-moving 3s infinite;

      }
    }

    &-text{
      font-size: 2.4rem;
      line-height: 1.150em;
      margin: 0.4rem 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}