.monitor{
  background: rgba(17, 90, 228, 1);
  width: 100%;
  position: fixed;
  height: 100vh;

  &_load{
    &:after{
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: repeating-linear-gradient(0deg, rgba($accentColor, 0.25), rgba($accentColor, 0.25) 1px, transparent 1px, transparent 9px);
      background-size: 9px;
      filter: contrast(1.5);
    }
  }


  &__panel{
    position: absolute;
    z-index: 2;

    &_horizontal{
      left: 50%;
      transform: translateX(-50%);
    }

    &_vertical{
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      height: 80%;

      &_column{
        flex-direction: column;
        justify-content: center;
      }

      &_row{
        align-items: center;
      }
    }

    &_top{
      top: 0;
    }

    &_bottom{
      bottom: 0;

      svg {
        transform: rotate(180deg);
      }
    }

    &_left{
      left: 45px;
    }

    &_right{
      right: 45px;
    }

    &-row{
      margin-bottom: 2rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__canvas,
  &__screen{
    width: 100%;
    mix-blend-mode: multiply; /*color-dodge*/
    position: absolute;
  }

  $polygon: 0 2%, 100% 2%,
            100% 1%, 0 1%,
            0% 23%, 100% 23%,
            100% 39%, 0 39%,
            0% 40%, 100% 40%,
            100% 42%, 0% 42%,
            0 60%, 100% 60%,
            100% 60.5%, 0 60.5%;

  @keyframes canvas-glitch {
    0%   {
      transform: translateY(0);
      filter: hue-rotate(90deg) contrast(2);
    }
    5%{
      transform: translateY(10%);
    }
    6%   {
      transform: translateY(0%);
    }
    7%   {
      transform: translateY(10%);
    }
    15%{
      transform: translateY(30%);
    }
    16%   {
      transform: translateY(100%);
    }
    17%   {
      transform: translateY(30%);
    }
    25%   {
      transform: translateY(20%);
    }
    26%   {
      transform: translateY(100%);
    }
    27%   {
      transform: translateY(40%);
    }
    45%   {
      transform: translateY(20%);
    }
    46%   {
      transform: translateY(10%);
    }
    47%   {
      transform: translateY(100%);
    }
    50%   {
       transform: translateY(30%);
    }

    100% {
      transform: translateY(100%);
      filter: hue-rotate(360deg) contrast(6);
    }
  }

  &__canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &_copy{
      mix-blend-mode: color-dodge;
      clip-path: polygon($polygon);
      animation: canvas-glitch 1.5s 2.5s infinite;
      transform: translateY(-100%);
    }
  }

  &__screen {
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;

    &_show{
      opacity: 1;
      pointer-events: auto;
    }
  }

  @keyframes target-anim {

    $steps: 8;

    0%   {
      transform: translateX(-50%) translateY(-50%);
    }
    $i: 1;
    @while $i <= $steps {
      #{percentage($i*(1/$steps))}{
        transform: translateY(-(random(50) + 20)+%) translateX(-(random(50) + 20)+%);
      }
    $i: $i+0.2;
    }
    100% {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__target{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 54%;
    max-width: 700px;
    z-index: 2;
    opacity: 0;
    transition: opacity .7s 1.6s;
    pointer-events: none;
    animation: target-anim 20s infinite;

    &_show{
      opacity: 1;
      pointer-events: auto;

      .svg-target{
        transform: scale(0.5);
      }
    }
  }

  &__information{
    $m_info: &;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-weight: normal;
    font-style: italic;
    transition: opacity .3s;
    pointer-events: auto;

    $eye-height: 37px;
    $eye-width: 59px;
    $eye-vertical-space: 10px;
    $eye-horizontal-space: 10px;
    $eyeball-size: $eye-height - $eye-vertical-space;

    &_hide{
      opacity: 0;
      pointer-events: none;
      #{$m_info}-ico{
        &:after{
          animation: none;
          transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
        }
      }
    }

    @keyframes eyeball-moving {
      0%   {
        transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
      }
      50% {
        transform: translateX($eye-width - $eyeball-size*1.3) translateY($eye-vertical-space/2);
      }
      100% {
        transform: translateX($eye-vertical-space) translateY($eye-vertical-space/2);
      }
    }

    &-ico{
      width: $eye-width;
      height: $eye-height;
      margin: 0 auto;
      background-image: url('./images/eye.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('./images/eyeball.svg');
        width: $eyeball-size;
        height: $eyeball-size;
        background-repeat: no-repeat;
        background-position: center;
        animation: eyeball-moving 3s infinite;

      }
    }

    &-text{
      font-size: 2.4rem;
      line-height: 1.150em;
      margin: 0.4rem 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  @keyframes text-moving {
    0%, 20%  {
      transform: translateY(0);
    }
    20%, 40% {
      transform: translateY(-20%);
    }
    40%, 60% {
      transform: translateY(-20%);
    }
    60%, 80% {
      transform: translateY(-60%);
    }
    80%, 100% {
      transform: translateY(-80%);
    }
    100%, 0% {
      transform: translateY(0);
    }
  }

  &__paragraph{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 1.440em;
    span {
      display: inline-block;
      animation: text-moving 1s step-end infinite;
    }

    &_delay_100ms{
      span{
        animation-delay: 0.1s;
      }
    }

    &_speed_5s{
      span{
        animation-duration: 5s;
      }
    }

    &_speed_10s{
      span{
        animation-duration: 10s;
      }
    }

  }

}