.svg-target{
  transition: transform .4s 1.7s;
  /* 117px */
  /* 288 */

  .svg-target{
    &__line{
      transition: transform .6s 2.1s;
      &_right{
          transform: translateX(150px);
      }

      &_bottom{
        transform: translateY(110px) translateX(75px);
      }

      &_left{
        transform: scale(-1, 1) translateX(-340px);
      }
    }
  }
}

.monitor__target_show{
  .svg-target{
    &__line{
      &_right{
        transform: translateX(80px) translateY(50px);
      }

      &_left{
        transform: scale(-1, 1) translateX(-410px) translateY(50px);
      }

      &_bottom{
        transform: translateY(60px) translateX(75px);
      }
    }
  }
}

//@keyframes glitch-anim {
//  $steps: 10;
//  @for $i from 0 through $steps {
//    #{percentage($i*(1/$steps))} {
//      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
//    }
//  }
//}
//
//.monitor__canvas{
//  animation: glitch-anim 2s infinite linear alternate-reverse;
//}
