@import "./scss/helpers/variables";
@import "./scss/helpers/colors";
@import "./scss/helpers/mixins";

@import "./scss/base/typography";
@import "./scss/base/reset";
@import "./scss/base/colors";
@import "./scss/base/text";

@import "./scss/blocks/page";
@import "./scss/blocks/headline";
@import "./scss/blocks/paragraph";
@import "./scss/blocks/monitor";
@import "./scss/blocks/volume";
@import "./scss/blocks/svg-target";